#!/usr/bin/env bash
export ETHEREUM_JSONRPC_HTTP_URL=http://127.0.0.1:9650/ext/bc/C/rpc
# export ETHEREUM_JSONRPC_HTTP_URL=http://1mix27.0.0.1:8545

# export ETHEREUM_JSONRPC_WS_URL=ws://127.0.0.1:8545
#export PGDATA=/tmp/pgsql/data
#export PGLOG=/tmp/pgsql/pgsql.log
export ETHEREUM_JSONRPC_VARIANT=ganache
export ETHEREUM_JSONRPC_TRANSPORT=http
#export ETHEREUM_JSONRPC_HTTP_URL=http://192.168.43.126:8545
#export ETHEREUM_JSONRPC_VARIANT=parity
export COIN=AVAX
#export NETWORK=POA
export DB_HOST=127.0.0.1
#export DB_PASSWORD=
export CHAIN_ID=43112 # specific chain id for connect to metamask
export DB_PORT=5432
export DB_USERNAME=postgress
#export BLOCKSCOUT_HOST=
export BLOCKSCOUT_PROTOCOL=http
export DATABASE_URL=postgresql://postgres:@127.0.0.1:5432/explorer?ssl=false
export DB_URL=postgresql://postgres:@127.0.0.1:5432/explorer?ssl=false
export PORT=4000
export MIX_ENV=prod
export CHAIN_SPEC_PATH=/
export FIRST_BLOCK=0
export SECRET_KEY_BASE=RMgI4C1HSkxsEjdhtGMfwAHfyT6CKWXOgzCboJflfSm4jeAlic52io05KB6mqzc5